{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>ChartingService</title>
    <link rel="stylesheet" href="{% static 'js/plugins/font-awesome/css/font-awesome.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}"/>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{% url 'charting_service' %}" class="nav-link">Home</a>
            </li>
        </ul>

    </nav>
    <!-- /.navbar -->

</div>

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <span class="brand-text font-weight-light">ChartingService</span>
    </a>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
                <div class="nav-link active bg-primary">
                    <i class="nav-icon fa fa-dashboard "></i>
                    <p>
                        Фильтр
                        <i class="right fa fa-angle-left"></i>
                    </p>
                </div>
                <ul class="nav nav-treeview ">
                    <form id="target" method="post" action="{% url 'charting_service' %}">
                        {% csrf_token %}
                        <li class="nav-item">

                            <div class="nav-link active bg-white">
                                <div class="row w-100">
                                    <label>{{form.branch.label}}</label>
                                </div>
                                <div class="row w-100">
                                    <div class="col-12">
                                        {{form.branch}}
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item">
                            <div class="nav-link active bg-white">
                                <div class="row  w-100">
                                    <label>{{form.series.label}}</label>
                                </div>
                                <div class="row  w-100">
                                    <div class="col-12">
                                        {{form.series}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link active bg-white">
                                <div class="row  w-100">
                                    <label>
                                        {{form.data_first.label}}
                                    </label>
                                </div>
                                <div class="row w-100">
                                    <div class="col-12">
                                        {{form.data_first}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link active bg-white">
                                <div class="row  w-100">
                                    <label>
                                        {{form.data_last.label}}
                                    </label>
                                </div>
                                <div class="row  w-100">
                                    <div class="col-12">
                                        {{form.data_last}}
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <input type="submit" value="Построить" class="btn btn-primary w-75">
                        </li>
                    </form>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row h-50">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <!-- Bar chart -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-bar-chart-o"></i>
                                Область графика
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart" style="height: 300px;"></div>
                        </div>
                        <!-- /.card-body-->
                    </div>
                    <!-- /.card -->
                    <div class="col-lg-2">
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Mayorov M.N.
    </div>
    <!-- Default to the left -->
    <strong>2018 <a href="">ChartingService</a>.</strong>
</footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->


<!-- jQuery -->
<script src="/static/js/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/js/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/static/js/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/static/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/js/demo.js"></script>
<!-- FLOT CHARTS -->
<script src="/static/js/plugins/flot/jquery.flot.min.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="/static/js/plugins/flot/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="/static/js/plugins/flot/jquery.flot.pie.min.js"></script>
<!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
<script src="/static/js/plugins/flot/jquery.flot.categories.min.js"></script>
<!-- page script -->
<script src="/static/js/view_charts.js"></script>

</body>
</html>